<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Spending tracker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <H1>SPENDING TRACKER</H1>

  <nav>

    <h2><a href='/merchants'>Merchants</a>
      <a href='/transactions'>Transactions</a>
      <a href='/spendingtags'>Tags</a>
    </h2>

  </nav>
  <%=yield%>
</body>
</html>
