<h2>Tags</h2>

<form method = "post" action="/spendingtags/add/new">
  <label for = "type"> Type: </label>
  <input type="text" name="type" id="name"/>

  <input type="submit" value="Add Tag"/>

</form>
