<h2>Merchants</h2>

<form method="post" action="/merchants/add/new">
  <label for = "name"> name:</label>
  <input id = "name" type="text" name="name"/>

  <input type="submit" value = "Add Merchant"/>

</form>
